node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local

cypress/screenshots/
cypress/videos/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

cypress/results/
cypress/reports/

dist/
build/

*.tmp
*.temp
